 ul li {
    margin: 0;
    width: 350px;
    height: 80px;
    display: flex;
    align-items: center;
    margin: 1.5em;
    cursor: pointer;
    padding: 1em;
    background: rgb(43, 43, 43);
    position: relative;
    color: white;
    border-radius: 5px;
}

ul li::before,
ul li::after {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 5px;
    width: 105%;
    transition: all 0.4s;
}
/*
ul li::before {
    left: 0%;
    height: 130%;
    background: linear-gradient(to right, #021B79, #0575E6);
}*/
ul li::before {
    left: 0%;
    height: 130%;
    background: linear-gradient(to right, rgb(8, 93, 179), rgb(63, 125, 187));
}
ul li::after {
    left: -10%;
    height: 120%;
    background: #ffffff56;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.164);
}
ul li:hover::before {
    transform: translateX(-2.5%);
}
ul li:hover::after {
    transform: translateX(15%);
}


.title-card {
    float: center;
    margin: 0;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    margin: 1.5em;
    cursor: pointer;
    padding: 1em;
    background: rgb(63, 125, 187);
    position: relative;
    color: white;
    border-radius: 5px;
    flex-direction: column; 
}

.player-row {
    flex-direction: row; 
    display: flex; 
    align-items: center;
    margin: 10px;
}

.player-col {
    flex-direction: column; 
    display: flex; 
    align-items: flex-start;
    margin: 0
}

.position {
    font-size: medium;
    margin-right: 10px;
}

p {
    margin: 0;
    font-size: small;
}

h3, h2 {
    margin: 0;
}
